# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
_site
.jekyll-cache


# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode
.Identifier

# Misc
assets/js/dist
_site/feed.xml
_site/sitemap.xml
_site/sw.js
_site/about/index.html
_site/archives/index.html
_site/categories/index.html
_site/tags/index.html
/.vs/XRD-X2-BlogDev/FileContentIndex/a007591b-6752-435c-af3a-8d3f7326428b.vsidx
/.vs
